<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585119731880-6raijggsm5b3pvqd9p5q858v1injcssn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585119731880-6raijggsm5b3pvqd9p5q858v1injcssn</string>
	<key>API_KEY</key>
	<string>AIzaSyBpzdHYWecnEWWgEhdFPvVVuv7faAJlUu0</string>
	<key>GCM_SENDER_ID</key>
	<string>585119731880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-4cea4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-4cea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585119731880:ios:de1ad85450dd504bee329d</string>
</dict>
</plist>